

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1 {
    text-align: left;
}
h3 {
    text-decoration: rgb(176, 61, 199);
}
h3 {
    text-align: left;
}
h2 {
    text-align: center;
}
body {
    text-align: right; 
}
p{
text-align: left;}





