
  


html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;}


.header {background-image: src="images/cover.png" 
}

h1 {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

h3 {
    text-align: left;
    font-family: 'Raleway', sans-serif;

}
h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;

}
body {
    text-align: right; 
    font-family: 'Raleway', sans-serif;

}
p {
text-align: left;}


@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  font-family: Raleway;
}

section {
  width: 100%;
  display: inline-block;
  background: rgb(255, 255, 255);
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


.nav_menu { 
    overflow: hidden; 
    background-color: rgb(26, 50, 158); 
} 
.nav_menu a { 
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
} 
.nav_menu a:hover { 
    color: rgb(26, 50, 158); 
} 
  
.columnA { 
    float: left; 
    width: 31%; 
    padding: 15px; 
    text-align:justify; 
    font-family: 'Muli', sans-serif;
} 
h2 { 
    color:rgb(0, 13, 128); 
    text-align:center; 
    font-family: 'Raleway', sans-serif;


} 
  
@media screen and (max-width:600px) { 
    .columnA { 
        width: 50%; 
    } 
} 
@media screen and (max-width:400px) { 
    .columnA { 
        width: 100%; 
    } 
} 

